.todo-add_input-w {
    overflow: hidden;
}

.todo-add_input {
    width: 100%;
    box-sizing: border-box;
    font-size: 24px;
    height: 64px;
    padding: 16px;
    border: 0;
    outline: 0;
    font-weight: 300;
    color: #666;
}

.todo-add_input::-webkit-input-placeholder {
    color: #ccc;
    font-style: italic;
}

.todo-add_input:-moz-placeholder {
    color: #ccc;
    font-style: italic;
}

.todo-add_input::-moz-placeholder {
    color: #ccc;
    font-style: italic;
}

.todo-add_input:-ms-input-placeholder {
    color: #ccc;
    font-style: italic;
}