@import url("todos-header/todos-title.css");
@import url("todos-main/todos-main.css");
@import url("todos-main/todos-list/todo-item.css");
@import url("todos-main/todos-add/todo-add__button.css");
@import url("todos-main/todos-add/todos-add.css");
@import url("todos-main/todos-add/todo-add-input.css");
@import url("todos-action-bar/todos-actions-bar.css");
@import url("todos-action-bar/filter.css");
@import url("base/input-checkbox.css");
@import url("base/action.css");
@import url("reset.css");


body {
    background: #f5f5f5;
   }

.main-wrapper {
    max-width: 592px;
    min-width: 212px;
    margin: 0 auto;
}
