.todos-actions-bar {
    width: 450px; /* Ширина элемента в пикселах */
    padding: 10px; /* Поля вокруг текста */
    margin: auto; /* Выравниваем по центру */
    background: #fccb;
    box-shadow:
            0 0 0 1px rgb(194, 192, 184) inset,
            0 5px 0 -4px rgb(255, 255, 255),
            0 5px 0 -3px rgb(194, 192, 184),
            0 11px 0 -8px rgb(255, 255, 255),
            0 11px 0 -7px rgb(194, 192, 184);
}